snippet puppetmgmt
	###############################################################################
	# this file is managed by puppt - no local changes
snippet classheader
	#######################################################
	# Class: 
	#
	# == Parameters
	#
	# == Examples
	#
	# == Author
	#
	# Dennis Konert <d.konert@conversis.de>
	#

